<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>MJRefresh.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Masonry.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-西邮图书馆.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SDWebImage.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>YYModel.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04CF549EBEEE7BC87AEAE35397184D94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37ADB6184C15E7F8D3000041B1DE00F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DC8D9E02903E93BD0B2FEC9D846EA20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E033EDB5EC0819481B0546434FA577B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE5BB485B41A80023F23F9E49500EF2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E34989AAF9F72AB8B6765E0333D949D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
